@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);
  --color-base-950: var(--base-950);
  --color-base-1000: var(--base-1000);
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-primary-1000: var(--primary-1000);
  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);
  --color-secondary-1000: var(--secondary-1000);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.9843 0.0035 287.12);
  --foreground: oklch(0.2738 0.021 286.32);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2738 0.021 286.32);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2738 0.021 286.32);
  --primary: oklch(0.5276 0.1072 182.22);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.5236 0.0505 250.18);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.9665 0.007 286.66);
  --muted-foreground: oklch(0.4418 0.0385 286.07);
  --accent: oklch(0.9665 0.007 286.66);
  --accent-foreground: oklch(0.2738 0.021 286.32);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.9197 0.014 286.6);
  --input: oklch(0.8708 0.021 286.57);
  --ring: oklch(0.5276 0.1072 182.22);
  --chart-1: oklch(0.5276 0.1072 182.22);
  --chart-2: oklch(0.5236 0.0505 250.18);
  --chart-3: oklch(0.8522 0.1484 177.84);
  --chart-4: oklch(0.8208 0.0278 242.12);
  --chart-5: oklch(0.9511 0.0547 177.24);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.2738 0.021 286.32);
  --sidebar-primary: oklch(0.5276 0.1072 182.22);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9843 0.0035 287.12);
  --sidebar-accent-foreground: oklch(0.2738 0.021 286.32);
  --sidebar-border: oklch(0.9197 0.014 286.6);
  --sidebar-ring: oklch(0.5276 0.1072 182.22);
  --base-50: oklch(0.9843 0.0035 287.12);
  --base-100: oklch(0.9665 0.007 286.66);
  --base-200: oklch(0.9197 0.014 286.6);
  --base-300: oklch(0.8708 0.021 286.57);
  --base-400: oklch(0.7244 0.0315 286.35);
  --base-500: oklch(0.5519 0.042 286.22);
  --base-600: oklch(0.4418 0.0385 286.07);
  --base-700: oklch(0.3698 0.0315 286.09);
  --base-800: oklch(0.2738 0.021 286.32);
  --base-900: oklch(0.2098 0.014 286.17);
  --base-950: oklch(0.1408 0.0105 286.11);
  --base-1000: oklch(0.0959 0.007 286.07);
  --primary-50: oklch(0.9815 0.0164 177.79);
  --primary-100: oklch(0.9511 0.0547 177.24);
  --primary-200: oklch(0.908 0.1019 177.16);
  --primary-300: oklch(0.8522 0.1484 177.84);
  --primary-400: oklch(0.7741 0.1676 178.16);
  --primary-500: oklch(0.7021 0.1559 178.48);
  --primary-600: oklch(0.5991 0.1318 180.39);
  --primary-700: oklch(0.5276 0.1072 182.22);
  --primary-800: oklch(0.4359 0.0869 183.94);
  --primary-900: oklch(0.3842 0.0703 184.51);
  --primary-950: oklch(0.2738 0.0502 187.51);
  --primary-1000: oklch(0.202 0.0372 188.32);
  --secondary-50: oklch(0.977 0.0034 244.64);
  --secondary-100: oklch(0.945 0.0074 245.19);
  --secondary-200: oklch(0.8944 0.015 243.47);
  --secondary-300: oklch(0.8208 0.0278 242.12);
  --secondary-400: oklch(0.7294 0.0416 244.67);
  --secondary-500: oklch(0.6578 0.0485 247.35);
  --secondary-600: oklch(0.5236 0.0505 250.18);
  --secondary-700: oklch(0.495 0.0469 251.28);
  --secondary-800: oklch(0.435 0.0384 252.42);
  --secondary-900: oklch(0.3863 0.0295 252.97);
  --secondary-950: oklch(0.2887 0.0198 254.2);
  --secondary-1000: oklch(0.2251 0.0134 255.72);
}

.dark {
  --background: oklch(0.1408 0.0105 286.11);
  --foreground: oklch(0.9197 0.014 286.6);
  --card: oklch(0.2098 0.014 286.17);
  --card-foreground: oklch(0.9197 0.014 286.6);
  --popover: oklch(0.2098 0.014 286.17);
  --popover-foreground: oklch(0.9197 0.014 286.6);
  --primary: oklch(0.5276 0.1072 182.22);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.5236 0.0505 250.18);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.2738 0.021 286.32);
  --muted-foreground: oklch(0.8708 0.021 286.57);
  --accent: oklch(0.2738 0.021 286.32);
  --accent-foreground: oklch(0.9197 0.014 286.6);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(0.2738 0.021 286.32);
  --input: oklch(0.3698 0.0315 286.09);
  --ring: oklch(0.5276 0.1072 182.22);
  --chart-1: oklch(0.5276 0.1072 182.22);
  --chart-2: oklch(0.5236 0.0505 250.18);
  --chart-3: oklch(0.8522 0.1484 177.84);
  --chart-4: oklch(0.8208 0.0278 242.12);
  --chart-5: oklch(0.9511 0.0547 177.24);
  --sidebar: oklch(0.2098 0.014 286.17);
  --sidebar-foreground: oklch(0.9197 0.014 286.6);
  --sidebar-primary: oklch(0.5276 0.1072 182.22);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2738 0.021 286.32);
  --sidebar-accent-foreground: oklch(0.9197 0.014 286.6);
  --sidebar-border: oklch(0.2738 0.021 286.32);
  --sidebar-ring: oklch(0.5276 0.1072 182.22);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
